body{
    background-color: white;
}

div.allWeather{
    clear: both;
}

div.weatherBlock{
    border: 3px black solid;
    width: 80px;
    float: left;
    text-align: center;;
}

div.bottomStuff{
    clear: both;
}